<table class="table">
  <thead>
    <tr class="row-cabecera">
      <th scope="col">Nro.</th>
      <th scope="col">Mesa</th>
      <th scope="col">Hora</th>
      <th scope="col">Tiempo</th>
      <th scope="col">Mozo</th>
      <th scope="col">Descripción</th>
      <th scope="col">Observación</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Estado</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>9</td>
      <td>18:25:19</td>
      <td>19:47:19</td>
      <td>Juan</td>
      <td>JALEA MIXTA</td>
      <td>-</td>
      <td>1</td>
      <td>Pendiente</td>
      <td class="text-center">
        <button class="btn btn-warning"><i class="far fa-clock"></i></button>
      </td>
    </tr>
  </tbody>
</table>
